html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding-left:30px;
    padding-right:30px;
    background: linear-gradient(90deg, #4540DF 20%,  #0D0D38 100%);
    font-family: 'Archivo', sans-serif;
}

.container {
    padding: 50px 20px;
    margin: 0 auto;
}

#logo{
    padding: 30px;
}
#logo:hover img{
    transform: scale(1.1);
}

h1 {
    color: rgb(22, 19, 19);
    font-size: 54px;
    padding: 20px;
}
.progress {
    position: relative;
    bottom: 25px;
}
#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 70px;
    background-color: #121117;
    color: rgb(246, 244, 239);
    text-align: center;
    border-radius: 10px;
}


.card:hover {
    transform: scale(1.1);
    background-color: #141125;
    cursor: pointer;
}

.card-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 10px;
    padding: 15px;
    color: rgb(246, 231, 14);
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 15px;
    text-align: left;
    position: relative;
    left: 50px;
    

}
.card-image {
    height: 190px;
    
}

/*popup*/

.popup{
    position: fixed;
    top:0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #121117;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 700;
    border: 10px solid #ecb912;
}

#closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
}

button{
    background-color: rgb(255, 225, 0);
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 3px;
    transition: transform 100ms;
    font-size: 30px;
}
button:hover{
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 1px 2px white;
}


#pokeButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}